@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #282626;
}

.dropdown-divider {
  border: 1px solid white;
}

.offcanvas-backdrop {
  background-color: transparent;
}

.offcanvas.offcanvas-end {
  bottom: 10%;
  right: unset;
  top: unset;
  border-left: none;
  min-width: 180px;
  width: unset;
  background-color: black;
}

.nav-link {
  color: #0f92b9;
  font-weight: 900;
}

.btn-close {
  display: none;
}

.container {
  background-color: #f2f2f2;
  margin-right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #0f92b9 !important;
  font-family: 'Roboto', sans-serif !important;

}

h2 {
  color: #0f92b9 !important;
  font-family: 'Roboto', sans-serif !important;


}

h3 {
  color: #0f92b9 !important;
  font-family: 'Roboto', sans-serif !important;
}

h4 {
  color: #0f92b9 !important;
  font-family: 'Roboto', sans-serif !important;
}

h5 {
  color: #0f92b9 !important;
  font-family: 'Roboto', sans-serif !important;
}

h6 {
  font-family: 'Roboto', sans-serif !important;
}

p {
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

div {
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

span {
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

img {
  filter: drop-shadow(16px 14px 9px #7db45f);
  object-fit: contain;
}

button {
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

a {
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

iframe {
  object-fit: contain;

}

.bg-dark {
  background-color: #3f3f3f;
}

.navbar-brand {
  color: #0f92b9 !important;
}

.order-two {
  display: flex;
  flex-direction: column;
  order: 1;
}

.block {
  background: rgb(125, 180, 95);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2f2;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.block> :is(h1, div, h2, h3, h4, h5, h6, p, span, a, button) {
  font-weight: 500 !important;
  color: white !important;
}

.block>h2 {
  color: white !important;

}

.order-one {
  display: flex;
  flex-direction: column;
  order: 2;
}

@media screen and (max-width:768px) {

  .order-two {
    order: 2;
  }

  .order-one {
    order: 1;
  }
}